@import 'colors';
@import '../lib/icomoon/style.css';

.item-enter.ng-animate {
  transition:0s none;
  -webkit-transition:0s none;
  animation: 0s none;
  -webkit-animation: 0s none;
}

.item.item-clear {
  border: 0;
  color: $light;
  background-color: transparent;
}

.has-header.has-subheader.subheader-fix {
  top: 43px;
  .scroll {
    margin-top: 58px;
  }
}

.has-header.has-subheader.has-tabs-top.subheader-fix {
  top: 93px;
}

.bar-subheader.subheader-fix {
  top: -58px;
}

.button.button-balanced.prayer {
  border-width: 0;
  border-radius: 50%;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;

  .icon:before {
    font-size: 30px;
  }
}

.bar-footer.mtarget {
  height: 60px;
}

input[type="text"].itemInput {
  font-size: 100%;
}

.loading i.icon.ion-ios7-reloading {
  font-size: 71px !important;
  text-align: center;
}

.bar-dark.bar-fix {
  border-bottom-color: transparent !important;
  background-image: none;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;

}

.text-left {
  text-align: left !important;
}

.slider {
  height: 100%;

  .slider-slide {
    padding-top: 80px;
    color: $light;
    background-color: #434;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5 {
    color: $light;
  }

  h4 {
    padding-bottom: 10px;
  }

  .button {
    color: $light;
    background-color: #434;
    border-color: $light;
  }
}

#logo {
  margin: 30px 0px;
  font-size: 128px;
  color: $light;
}

.icon.svgicon-prayer.svgicon-prayer-dark {
  background-color: $dark;
  border-width: 0;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  font-size: 128px;
}

#list {
  width: 220px;
  margin: 30px auto;
  font-size: 20px;

  ol {
    margin-top: 30px;

    li {
      text-align: left;
      list-style: decimal;
      margin: 10px 0px;
    }
  }
}
