@import 'colors';

@font-face {
  font-family: 'svgicon';
  src:url('../fonts/svgicon.eot?-k4mz6z');
  src:url('../fonts/svgicon.eot?#iefix-k4mz6z') format('embedded-opentype'),
    url('../fonts/svgicon.woff?-k4mz6z') format('woff'),
    url('../fonts/svgicon.ttf?-k4mz6z') format('truetype'),
    url('../fonts/svgicon.svg?-k4mz6z#svgicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="svgicon-"], [class*=" svgicon-"] {
  font-family: 'svgicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgicon-about:before {
  content: "\e600";
}

.svgicon-mission:before {
  content: "\e601";
}

.svgicon-prayer:before {
  content: "\e602";
}

.svgicon-resource:before {
  content: "\e603";
}

.svgicon-reward:before {
  content: "\e604";
}

.button-bar.ng-animate {
  transition:0s none;
  -webkit-transition:0s none;
  animation: 0s none;
  -webkit-animation: 0s none;
}

.item.empty-tips {
  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.bg-dark {
  color: $light;
  background: $dark;

  .button-dark {
    color: $light;
    background-color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .3);
  }
}

.item-enter {
  &.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation:  0s none;
  }
}

.item-enter.activated {
  background: transparent;
}

.item.item-clear {
  border: 0;
  color: $light;
  background-color: transparent;
}

.has-header.has-subheader.subheader-fix {
  top: 43px;
  .scroll {
    margin-top: 58px;
  }
}

.has-header.has-subheader.has-tabs-top.subheader-fix {
  top: 93px;
}

.bar-subheader.subheader-fix {
  top: -58px;
}

.button.button-balanced.prayer {
  border-width: 0;
  border-radius: 50%;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;

  .icon:before {
    font-size: 29px;
  }
}

.bar-footer.mtarget {
  height: 60px;
}

input[type="text"].itemInput {
  font-size: 100%;
  padding-top: 2px;
  padding-bottom: 0;
  height: 22px;
  border: 0;
}

.loading i.icon.ion-ios7-reloading {
  font-size: 71px !important;
  text-align: center;
}

.bar-dark.bar-fix {
  border-bottom-color: transparent !important;
  background-image: none;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;

}

.text-left {
  text-align: left !important;
}

.slider {
  height: 100%;

  .slider-slide {
    padding-top: 80px;
    color: $light;
    background-color: #434;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5 {
    color: $light;
  }

  h4 {
    padding-bottom: 10px;
  }

  .button {
    color: $light;
    background-color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .3);
  }
}

#logo {
  margin: 30px 0px;
  font-size: 128px;
  color: $light;
}

.icon.svgicon-prayer.svgicon-prayer-dark {
  background-color: $dark;
  border-width: 0;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  font-size: 128px;
}

.item.highlight {
  color: rgba(244, 231, 114, 1);
}

#list {
  width: 220px;
  margin: 30px auto;
  font-size: 20px;

  ol {
    margin-top: 30px;

    li {
      text-align: left;
      list-style: decimal;
      margin: 10px 0px;
    }
  }
}

.top-menu {
  &.animate.ng-enter,
  &.animate.ng-leave {
    -webkit-transition: 310ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -moz-transition: 310ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -ms-transition: 310ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -o-transition: 310ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    transition: 310ms cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    position: relative;
    display: block;
  }

  &.animate.ng-leave.animate.ng-leave-active,
  &.animate.ng-enter {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 0;
    opacity: 0;
  }

  &.animate.ng-enter.animate.ng-enter-active,
  &.animate.ng-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
  }
}

