<ion-view title="一領一禱告認領">
  <ion-content padding="true">
    <div id="logo" class="text-center text text-positive">
      <i class="icon svgicon-prayer"></i>
    </div>
    <h2 class="text-center">一領一禱告認領</h2>
    <p class="text-center">版本 0.1</p>
    <br />
    <p class="text-center">中華基督教福音協進會 製作</p>
    <p class="text-center">www.ccea.org.tw</p>
    <ion-item class="item item-text-wrap item-stable text-center">
      <p>教會名錄資料由中華基督教網路發展協會提供</p>
      <p>church.oursweb.net</p>
    </ion-item>
  </ion-content>
</ion-view>
