<ion-view title="一領一禱告認領">
  <ion-content padding="true">

    <div id="logo" class="text-center text text-positive">
      <i class="icon svgicon-prayer svgicon-prayer-dark"></i>
    </div>

    <h2 class="text-center">一領一禱告認領</h2>
    <p class="text-center">版本 0.1.0（內部測試）</p>
    <br />
    <p class="text-center">中華基督教福音協進會</p>
    <p class="text-center">www.ccea.org.tw</p>

    <div class="card item text-center">
      <p>教會名錄資料</p>
      <p>由中華基督教網路發展協會提供</p>
      <p>church.oursweb.net</p>
    </div>

    <div class="text-center">
      <button class="button button-assertive" ng-click="doLogout()">強制清除資料</button>
    </div>
  </ion-content>
</ion-view>
