<ion-view title="">
  <ion-nav-buttons side="left">
    <button class="button button-white button-clear no-animation"
      ng-click="startApp()" ng-if="!slideIndex">
      略過教學
    </button>
    <button class="button button-white button-clear no-animation"
      ng-click="previous()" ng-if="slideIndex > 0">
      上一步
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-white button-clear no-animation"
      ng-click="next()" ng-if="slideIndex != 1">
      下一步
    </button>

  </ion-nav-buttons>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>歡迎使用一領一禱告認領</h3>
      <div id="logo">
        <i class="icon svgicon-prayer"></i>
      </div>
      <p>
        服務目前開放測試
      </p>
      <p>
        有任何問題請聯絡 lancetw@gmail.com
      </p>

      <button style="position: absolute; bottom: 50px;" ng-click="toMain()" class="button button-full button-stable">我已經是守望者</button>
    </ion-slide>

    <ion-slide>
      <h3>成為守望者</h3>
      <h4>只要簡單幾個步驟</h4>

      <ion-list id="list">
        <ion-item class="item-clear">指定您的教會</ion-item>
        <ion-item class="item-clear">輸入想禱告對象與禱告頻率</ion-item>
        <ion-item class="item-clear">輸入您的 Email</ion-item>
      </ion-list>
      <button style="position: absolute; bottom: 50px;" class="button button-full button-dark" ng-click="startApp()">按此開始使用</button>
    </ion-slide>
  </ion-slide-box>

</ion-view>
