<ion-view cache-view="false" hide-back-button="false" title="教會名稱輸入系統">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item ng-click="toMtarget(item)" ng-repeat="item in map.items track by $index">
      <h3>{{item.ocname}}</h3>
      <p>{{item.address}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-loading-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="range range-stable bar-dark">
    1公里
    <input ng-model="map.dist" type="range" name="map.dist" min="1000" max="5000" value="2000">
    5公里
  </ion-footer-bar>
</ion-view>
