<ion-view cache-view="false" hide-back-button="false" title="教會名稱輸入系統">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>

    <!--<ion-item class="item item-stable text-center">
      <p>教會名錄資料由中華基督教網路發展協會提供</p>
      <p>church.oursweb.net</p>
    </ion-item>-->

    <ion-list>
      <ion-item ng-click="toMtarget(item)" ng-repeat="item in map.items" class="">
      <h3>{{item.ocname}}</h3>
      <p>{{item.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="range range-stable bar-dark">
    1公里
    <input ng-model="map.dist" type="range" name="map.dist" min="1000" max="5000" value="2000">
    5公里
  </ion-footer-bar>
</ion-view>
