<ion-view hide-back-button="false" title="認領代禱對象">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>
    <form>
    <ion-item ng-if="map.item.oid" class="item-stable text-center">
      <h2>{{map.item.ocname}}</h2>
      <p>{{map.item.address}}</p>
    </ion-item>

    <ion-item ng-if="!map.item.oid" class="item-dark">
      <label class="item item-input">
        <span class="input-label">自訂教會名稱</span>
        <input ng-model="map.ocname" type="text" placeholder="＊＊基督教會">
      </label>
    </ion-item>

    <div ng-if="!map.item.oid" class="card">
      <div class="item item-text-wrap">
      請記得到 church.oursweb.net 新增您的教會資料，以利他人搜尋。
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">代禱對象</span>
        <input ng-model="mtarget.name" type="text" placeholder="主知名">
      </label>

      <ion-toggle ng-model="mtarget.sinner">已決志</ion-toggle>

      <label class="item item-input item-select">
        <div class="input-label">
          理想代禱頻率
        </div>
        <select ng-model="mtarget.freq" ng-options="f.val as f.name for f in mtarget.freqs" ng-change="freqChanged()">
          <option value="">請選擇</option>
        </select>
      </label>

      <button ng-disabled="!(!!mtarget.name)" ng-click="mtargetSetup()" class="button button-dark button-block">確定</button>

    </div>
    </form>
  </ion-content>

</ion-view>
