<ion-view hide-back-button="true" title="詳細狀況">

  <form ng-submit="saveMtarget()">

  <ion-content>

    <div ng-if="mtarget.meeter && mtarget.baptized" class="item item-divider text-center item-balanced">
      <span class="title  padding-bottom" href="#">代禱任務完成！ ^_^</span>
    </div>


    <div class="list card">

      <a event-focus="click" event-focus-id="inputMtargetName" ng-class="{true: 'hide', false: 'show'}[showModifyMtargetName]" ng-show="!!showModifyMtargetName === false" class="item-enter item item-icon-left" ng-click="showModifyMtargetName = !showModifyMtargetName">
        <i class="icon ion-person-add"></i>
        <span>{{ mtarget.name }}</span>
      </a>

      <div ng-show="!!showModifyMtargetName === true" class="item-enter item item-icon-left">
        <i class="icon ion-person-add"></i>
        <input id="inputMtargetName" type="text" class="itemInput" placeholder="輸入新的名稱" ng-model="mtarget.name" ng-blur="showModifyMtargetName = false">
      </div>

      <a href="#" class="item item-icon-left" ng-click="updateMtargetFreq()">
        <i class="icon ion-ios7-clock"></i>
        <span ng-if="mtarget.freq > 0">代禱頻率：{{ mtarget.freq / 60 / 60 / 24 }} 天</span>
        <span ng-if="!mtarget.freq || mtarget.freq === 0">代禱頻率未設定</span>
      </a>

      <a ng-hide="mtarget.baptized" href="#" class="item item-icon-left" ng-click="mtarget.sinner = !mtarget.sinner">
        <i class="icon ion-ios7-star-half"></i>
        <span ng-if="mtarget.sinner">已決志</span>
        <span ng-if="!mtarget.sinner">未決志</span>
      </a>

      <a href="#" class="item item-icon-left" ng-click="mtarget.baptized = !mtarget.baptized">
        <i class="icon ion-waterdrop"></i>
        <span ng-if="mtarget.baptized">已受洗</span>
        <span ng-if="!mtarget.baptized">未受洗</span>
      </a>

      <a href="#" class="item item-icon-left" ng-click="mtarget.meeter = !mtarget.meeter">
        <i class="icon ion-checkmark-circled"></i>
        <span ng-if="mtarget.meeter">已有聚會</span>
        <span ng-if="!mtarget.meeter">未加入聚會</span>
      </a>

    </div>

  </ion-content>
  <ion-footer-bar ng-hide="!(!!mtarget.name)" class="bar mtarget">
    <button type="submit" class="button button-clear button-full" href="#">回到列表</button>
  </ion-footer-bar>
  </form>


</ion-view>
